@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  @apply bg-gray-950 text-white;
  font-family: Arial, Helvetica, sans-serif;
}

/* Dark Netflix theme */
html {
  @apply dark;
  color-scheme: dark;
}
